@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

#cardImages .talles{

  display: none;
}

#cardImages:hover .talles{
  display: flex;

  animation: appear .2s 1;
}

@keyframes appear {
  0%{
    transform: translateY(20px);
  }  
  100%{
    transform: translateY(0);
  }
}


.collectionCard .collectionCard-link{
  color: black;
}

.collectionCard:hover .collectionCard-link{
  color: #0EA5E9;
}


.newsLetterContainer{
  background: url('../../public/newsletterBackground.svg') no-repeat center center ;
  background-size: contain;
  background-color: #F3F4F6;
}